/* Styles the main temperature wrapper */
.MainTemperatureWrapper{
    grid-area: MainTemp;
    background-color: transparent;
    width: 20%;
    position: relative;
    left: 15%;
}

/* Styles the main temperature icon */
.MainTempIcon{
    justify-self: center;
    width: 10em;
    position: relative;
    right: 45%;
}

/* Styles the main temperature reading */
.MainTempReading{
    justify-self: center;
    position: relative;
    text-align: center;
}