

.searchBar input {
  all: unset;
  font: 16px system-ui;
  color: black;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
  background-color: transparent;
}

.searchBar{
    position: absolute;
    top: 0.3rem;
    left: 0rem;
    width: 25rem;
    height: 2.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.results {
    position: absolute;
    color: black;

    left: 0rem;
    top: 3rem;
    font-size: 70%;

    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}


.searchBar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.searchBar li {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  
.searchBar li:last-child {
    border-bottom: none;
} 


.print {
  color: rgb(111, 165, 183);
  position: relative;
  left: -6rem;
  top: 21rem;

}

p{
  color: rgb(111, 165, 183);
  font-size: 150%;
  position: relative;
  margin-top: 8rem;
  margin-right: 4rem;
  font-weight: bold;
}

.delete{
  position: absolute;
  left: 20rem;
  bottom: 1rem;
  font-size: 140%;
  color: red;
  background-color: transparent;
}



  
  

 

  






