/* This positions the search bar */
.searchBar{
  position: absolute;
  top: 0.3rem;
  left: 0rem;
  width: 25rem;
  height: 2.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* This styles the input section of the search bar */
.searchBar input {
  all: unset;
  font: 1rem system-ui;
  color: black;
  border-radius: 0.3125rem;
  height: 100%;
  width: 100%;
  padding: 0.375rem 0.625rem;
  background-color: white;
}

.liRes {
  position: absolute;
  top: 3rem;
  left: 0rem;
  font-size: 70%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
}



/* This styles the text that appear from the search bar */
.results {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

/* This styles the text from the search bar and gets rid of bullet points */
.searchBar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* This styles the list items within the search bar */
.searchBar li {
    padding: 0.625rem;
    background-color: #fff;
    border-bottom: 0.625rem solid #ccc;
}

/* This styles the last list item within the search bar */
.searchBar li:last-child {
    border-bottom: none;
} 

/* This styles the text for the Selected: heading */
.selected {
  color: rgb(111, 165, 183);
  font-size: 150%;
  position: absolute;
  top: 12rem;
  right: 18rem;
  font-weight: bold;
}

/* This styles the selected locations the user chooses which is printed on the screen */
.print {
  color: rgb(111, 165, 183);
  position: relative;
  left: -10rem;
  top: 17rem;
}

/* This styles the delete button marked x next to every selected campus */
.delete{
  position: absolute;
  left: 20rem;
  bottom: 1rem;
  font-size: 140%;
  color: red;
  background-color: transparent;
}



  
  

 

  






