/* This is applied to the entire webpage */
body{
    background-color: rgb(117, 178, 211);
}

/* This creates a grid for the page for organising each section */
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

/* This refers to the left grey box styling */
.box1{
    grid-column: 1;
    background-color: lightgray;
    margin-top: 1.7rem;
    height: 45rem;
}

/* This refers to the right grey box styling */
.box2{
    grid-column: 2;
    background-color: lightgray;
    margin-top: 1.7rem;
}

/* This styles the heaadings in both boxes */
.h1{
    font-family: Cambria;
    text-align: center;
    color: black;
}

/* This styles the location icon in the right grey box, next to the campus finder */
.LocationPic{
    position: relative;
    bottom: 4.5rem;
    left: 7.5rem;
    width: 3.5rem;
    height: 3.5rem;
}

/* This styles the timing icon in the left grey box, next to the timings setter */
.TimingPic{
    position: relative;
    bottom: 4.2rem;
    left: 8.6rem;
    width: 3rem;
    height: 3rem;
}

/* Start and end time text */
.time{
    text-align: left;
    position: relative;
    padding-top: 0rem;
    padding-left: 3rem;
}

/* End time text positioning */
#end {
    padding-top: 20rem;
}

/* Styles the position for the slider on the page so it's in the box */
.SliderWrap{
    grid-column: 1;
    position: absolute;
    top: 23rem;
    left: 6.5rem;
}

/* Styles the slider for the timings section */
.slider {
    -webkit-appearance: none;
    width: 430%;
    height: 0.4375rem;
    border-radius: 0.3125rem;
    background: black;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Styles the first circle on the slider for the user to drag across */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
    position: relative;
    z-index: 10;
    background: rgb(117, 178, 211);
    box-shadow: 0 0 0 0.25rem white;
    cursor: pointer;
}


/* Styles the second slider for the timings section */
.slider2 {
    -webkit-appearance: none;
    width: 430%;
    height: 0.4375rem;
    border-radius: 0.3125rem;
    background: black;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


/* Styles the first circle on the slider for the user to drag across */
.slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
    position: relative;
    z-index: 10;
    background: rgb(117, 178, 211);
    box-shadow: 0 0 0 0.25rem white;
    cursor: pointer;
}

/* This section styles each of the black lines of the slider */

.long{
    padding-left: 0.01rem;
    background-color: black;
    position: absolute;
    height: 1.5rem;
    top: 24.2rem;
   
}
.short{
    padding-left: 0.01rem;
    background-color: black;
    position: absolute;
    color: transparent;
    height: 0.7rem;
    top: 24.55rem;
}

#one{
    left: 6.9rem;
    padding-left: 0.28rem;
}
#seven{
    left: 15.55rem;
    padding-left: 0.28rem;
}
#thirteen{
    left: 24.2rem;
    padding-left: 0.28rem;
}
#nineteen{
    left: 32.77rem;
}
#twentyfive{
    left: 41.4rem;
}
#two{
    left: 8.42rem;
}
#three{
    left: 9.86rem;
}
#four{
    left: 11.25rem;
}
#five{
    left: 12.7rem;
}
#six{
    left: 14.15rem;
}
#eight{
    left: 17rem;
}
#nine{
    left: 18.45rem;
}
#ten{
    left: 19.85rem;
}
#eleven{
    left: 21.3rem;
}
#twelve{
    left: 22.75rem;
}
#fourteen{
    left: 25.6rem;
}
#fifteen{
    left: 27rem;
}
#sixteen{
    left: 28.45rem;
}
#seventeen{
    left: 29.9rem;
}
#eighteen{
    left: 31.35rem;
}
#twenty{
    left: 34.22rem;
}
#twentyone{
    left: 35.6rem;
}
#twentytwo{
    left: 37rem;
}
#twentythree{
    left: 38.5rem;
}
#twentyfour{
    left: 39.95rem;
}


/* This section styles the little text under the slider */
.smallTime{
    position: absolute;
    top: 25.5rem;
    left: 6.2rem;
    font-size: 130%;
}
#sixAM{
    left: 15.3rem;
}
#twelveAM{
    left: 23.55rem;
}
#sixPM{
    left: 32.5rem;
}
#twelvePM{
    left: 40.8rem;
}

.smalltext{
    position: absolute;
    top: 27rem;
    left: 6.1rem;
    font-size: 130%;
}
#am1{
    left: 14.8rem
}
#pm1{
    left: 23.4rem;
}
#pm2{
    left: 32rem;
}
#am2{
    left: 40.7rem;
}

/* This styles the text for the value of the slider of the start time */
.value{
    position: absolute;
    color: rgb(117, 178, 211);
    bottom: 8.2rem;
    font-size: 520%;
    left: 11rem;
    font-family: Cambria;
}

/* This section styles the text for the value of the slider of the end time */
.value2{
    position: absolute;
    color: rgb(117, 178, 211);
    top: 10.6rem;
    font-size: 520%;
    left: 11rem;
    font-family: Cambria;
}

/* This section styles the search bar */
form {
    background-color: white;
    width: 25rem;
    height: 3rem;
    border-radius: 0.3125%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

/* This section positions the search bar */
#form{
    position: relative;
    bottom: 37rem;
    left: 55rem;
}


/* This styles the text in the search bar */
::placeholder {
    color: black;
    opacity: 0.7; 
}

  
/* This styles the search icon button */
svg {
    color: black;
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.625rem;
}

/* This positions the search icon */
.searchIcon{
    position: absolute;
    left: 25rem;
    border: none;
    background-color: transparent;
}

/* This styles the submit button */
.submitB {
    color: red;
    position: absolute;
    top: 32rem;
    left: 33rem;
    font-size: 120%;
    font-weight: bold;
    border-radius: 0.75rem;
    box-shadow: 0.1rem 0.1rem 0.9rem 0.1rem white;
    border: white;
    background-color: white;
}