/* this is a mess rn sorry ! */


/* This is applied to the entire webpage */
body{
    background-color: rgb(111, 165, 183);
}

.prompt {display: flex; justify-content: center; align-items: center;
    align-content: center; flex-direction: column; margin-top: 4vw;}
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
p {color: white; font-family: 'Roboto', sans-serif;} */
#ed {margin: auto; color: #95B9C9; display: flex; justify-content: center; align-items: center;
    align-content: center; flex-direction: column;}

#buttons div {display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center; text-align: center;
    align-content: center; margin-left: 3vw;}
    
#empty {height: 75px;}

#buttons2 div button {border-radius: 12px; display: grid; margin: 30px; width: 6rem; background-color: #95B9C9;}

/* This styles the submit button */
.submit {
    margin: auto;
    display: flex; justify-content: center; align-items: center;
    align-content: center; flex-direction: row; 
    margin-top: 22rem; 
    width: 6rem; 
    border-radius: 12px;
    font-size: 120%;
    font-weight: bold;
    background-color: #95B9C9;
}

#days {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 75px;
    background-color: rgb(255, 2555, 255, 0);
}
#buttons2 div button:active {background-color: aliceblue;}