/* This styles the TempAtTime component's scrollbar */
.TempTimeScrollBar{
    grid-area: TempScrollBar;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.65;
    color: white;
}