/* Styles the container */
.propTime{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles the time text */
.time{
    color: white;
    position: relative;
    top: 1rem;
}

/* Styles the temperature text */
.temp{
    color: white;
    position: relative;
    bottom: 1rem;
}

/* Styles the weather icon */
.weatherIconPic{
    position: relative;
    left: 7.5rem;
}