/* Styles the container */
.propTime{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles the time text */
.time{
    color: white;
    position: relative;
    top: 1rem;
}

/* Styles the temperature text */
.temp{
    color: white;
    position: relative;
    bottom: 1rem;
}

/* Styles the weather icon */
.weatherIconPic{
    position: relative;
    width: 60%;
    left: 25%;
}

.propTime {
    opacity: 0;
    transition: opacity 3s ease; /* Transition the opacity property over 5 seconds with ease timing function */
  }
  
  .propTime.show {
    opacity: 1; /* When the 'show' class is added, change opacity to 1 */
  }