/* Styles the header where the components are displayed */
.WeatherHeader{
    grid-area: WeatherHeader;
    display: flex;
    gap: 10pc;
    background-color: transparent;
    justify-content: center;
}

/* Styles the flexbox elements */
.WeatherHeader, .flexbox_element{
    margin: 1pc;
}