.WeatherPageContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "WeatherHeader WeatherHeader WeatherHeader FtrTempsBar"
    ". . . FtrTempsBar"
    ". MainTemp MainTemp FtrTempsBar"
    ". . . FtrTempsBar"
    ". TempScrollBar . FtrTempsBar"
    ". . . FtrTempsBar";
    background-image: url(/public/images/Day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 192vh;
    height: 98vh;
}

.WeatherHeader{
    position: relative;
    color: red;
}

.sunrise{
    width: 25%;
    position: relative;
    top: 30rem;
}

.sunriseText{
    position: relative;
    top: 22rem;
    left: 0rem;
    color: black;
    font-weight: bold;
    font-size: 130%;
}

.sunset{
    width: 25%;
    position: relative;
    top: 29.9rem;
    right: 16rem;
}

.sunsetText{
    position: relative;
    top: 22rem;
    right: 16rem;
    color: black;
    font-weight: bold;
    font-size: 130%;
}

.airQuality{
    font-size: 130%;
    position: relative;
    top: 33rem;
    left: 11rem;
}