/* This styles the container of the FutureTempsBar component */
.FutureTempsBarContainer{
    grid-area: FtrTempsBar;
    background-color: black;
    opacity: 0.65;
    color: white;
}

/* This styles the FutureTemp component */
.FutureTemp{
    position: relative;
    background-color: antiquewhite;
}