/* This styles the container of the FutureTempsBar component */
.futureCon{
    position: relative;
    left: 3rem;
}

/* This styles the weather icons */
.futureIcons{
    position: relative;
    left: 35%;
    width: 25%;
}

/* This styles the date */
.futureDate{
    position: relative;
    left: 17%;
}

/* This styles the temperature text */
.futureTemp{
    position: relative;
    left: 37%;
}

.futureCon {
    background-color: rgba(165, 182, 219, 0.39);
    width: 80%;
    opacity: 0;
    transition: opacity 3s ease; /* Transition the opacity property over 5 seconds with ease timing function */
  }
  
  .futureCon.show {
    opacity: 1; /* When the 'show' class is added, change opacity to 1 */
  }